<div class="container">
  <div class="row justify-content-center">
    <div class ="col-5 align-self-start my-3" >
<h2>User info</h2>

<% if @user.errors.any? %>
  <h3><%= @user.errors.count %>errors prohibited this book from being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li><br>
    <% end%>
  </ul>
<% end %>


<div class="input">
  <%= form_with model: @user do |f| %>
    <label>Name</label><br>
    <div class="form-group">
    <%= f.text_field :name, class: "form-control" %>
    </div>
    <label>Image</label><br>
    <%= f.file_field :profile_image, accept: "image/*" %>
    <br><br>
    <div class="form-group">
    <label>Introduction</label><br>
    <%= f.text_area :introduction, class: "form-control" %>
    </div>
    <%= f.submit 'Update User', class: "btn btn-secondary" %>
  <% end %>
</div>

    </div>
  </div>
</div>